"""Generated OmniVoice inference orchestration tensor scaffold."""

from __future__ import annotations

from dataclasses import dataclass

from torch2vk.runtime.logical import LogicalTensor

from models.omnivoice.tensors._logical import (
    input_tensor as _input,
    typed_activation_tensor as _activation,
)


@dataclass(frozen=True, slots=True)
class OmniVoiceReferencePromptTensors:
    ref_audio: LogicalTensor
    ref_waveform: LogicalTensor
    trimmed_ref_waveform: LogicalTensor
    ref_chunk_size: LogicalTensor
    ref_audio_tokens: LogicalTensor
    ref_text_tokens: LogicalTensor
    ref_rms: LogicalTensor


@dataclass(frozen=True, slots=True)
class OmniVoicePreparedInputTensors:
    style_tokens: LogicalTensor
    text_tokens: LogicalTensor
    ref_audio_tokens: LogicalTensor | None
    target_audio_tokens: LogicalTensor
    cond_input_ids: LogicalTensor
    cond_audio_mask: LogicalTensor
    cond_total_length: LogicalTensor
    cond_audio_start_idx: LogicalTensor


@dataclass(frozen=True, slots=True)
class OmniVoiceIterativeDecodeTensors:
    reference_prompt: OmniVoiceReferencePromptTensors | None
    prepared_inputs: tuple[OmniVoicePreparedInputTensors, ...]
    c_lens: LogicalTensor
    u_lens: LogicalTensor
    target_lens: LogicalTensor
    batch_input_ids: LogicalTensor
    batch_audio_mask: LogicalTensor
    batch_attention_mask: LogicalTensor
    tokens: LogicalTensor
    timesteps: LogicalTensor
    schedules: LogicalTensor
    layer_ids: LogicalTensor
    batch_logits: LogicalTensor
    cond_logits: LogicalTensor
    uncond_logits: LogicalTensor
    guided_logits: LogicalTensor
    sample_tokens: LogicalTensor
    topk_values: LogicalTensor
    topk_indices: LogicalTensor
    flat_tokens: LogicalTensor
    updated_sample_tokens: LogicalTensor
    updated_batch_input_ids: LogicalTensor


def declare_omnivoice_iterative_decode_tensors(
    *,
    batch_size: int,
    max_condition_length: int,
    max_target_tokens: int,
    num_step: int,
    audio_vocab_size: int = {{ defaults.audio_vocab_size }},
    num_audio_codebook: int = {{ defaults.num_audio_codebook }},
) -> OmniVoiceIterativeDecodeTensors:
    logits_shape = (batch_size, num_audio_codebook, max_target_tokens, audio_vocab_size)
    token_shape = (batch_size, num_audio_codebook, max_target_tokens)
    text_length = max_condition_length + max_target_tokens
    return OmniVoiceIterativeDecodeTensors(
        reference_prompt=None,
        prepared_inputs=(),
        c_lens=_input("omnivoice.decode.c_lens", "int32", (batch_size,)),
        u_lens=_input("omnivoice.decode.u_lens", "int32", (batch_size,)),
        target_lens=_input("omnivoice.decode.target_lens", "int32", (batch_size,)),
        batch_input_ids=_input(
            "omnivoice.decode.batch_input_ids",
            "int64",
            (batch_size, num_audio_codebook, text_length),
        ),
        batch_audio_mask=_input(
            "omnivoice.decode.batch_audio_mask",
            "bool",
            (batch_size, text_length),
        ),
        batch_attention_mask=_input(
            "omnivoice.decode.batch_attention_mask",
            "uint32",
            (batch_size, text_length),
        ),
        tokens=_activation("omnivoice.decode.tokens", "int32", token_shape),
        timesteps=_input("omnivoice.decode.timesteps", "int32", (num_step,)),
        schedules=_input("omnivoice.decode.schedules", "float32", (batch_size, num_audio_codebook)),
        layer_ids=_input("omnivoice.decode.layer_ids", "int32", (num_audio_codebook,)),
        batch_logits=_activation("omnivoice.decode.batch_logits", "float32", logits_shape),
        cond_logits=_input("omnivoice.decode.cond_logits", "float32", logits_shape),
        uncond_logits=_input("omnivoice.decode.uncond_logits", "float32", logits_shape),
        guided_logits=_input("omnivoice.decode.guided_logits", "float32", logits_shape),
        sample_tokens=_input("omnivoice.decode.sample_tokens", "int32", token_shape),
        topk_values=_activation("omnivoice.decode.topk_values", "float32", token_shape),
        topk_indices=_activation("omnivoice.decode.topk_indices", "int32", token_shape),
        flat_tokens=_activation("omnivoice.decode.flat_tokens", "int32", token_shape),
        updated_sample_tokens=_activation(
            "omnivoice.decode.updated_sample_tokens",
            "int32",
            token_shape,
        ),
        updated_batch_input_ids=_activation(
            "omnivoice.decode.updated_batch_input_ids",
            "int64",
            (batch_size, num_audio_codebook, text_length),
        ),
    )
