"""Generated dispatch function for {{ function_name }}."""

from __future__ import annotations

from {{ model_package }}.tensors.model import model_tensors
{% for item in shader_imports %}
from {{ model_package }}.shaders.{{ item.shader }} import {{ item.const }}
{% endfor %}
from {{ model_package }}.tensors.{{ tensor_file }} import {{ tensor_class }}
{% if uses_quantized_linear_dispatch %}
from torch2vk.runtime.quantized_dispatch import run_quantized_linear
{% endif %}
from torch2vk.runtime.session import RuntimeSession


{{ function_source }}


def {{ function_name }}(rt: RuntimeSession{{ parameters_source }}) -> None:
    tensors = {{ tensor_expr }}
    _{{ function_name }}_with_tensors(rt, tensors{{ arguments_source }})
