def {{ function_name }}(
    rt: RuntimeSession,
{% if needs_reference %}
    reference: ArrayReference,
{% endif %}
    *,
{% for param in extra_params %}
    {{ param.name }}: {{ param.type }},
{% endfor %}
{% for input_name in input_names %}
    {{ input_name }}: ReferenceInput,
{% endfor %}
) -> ReferenceExpected:
    return _execute_and_compare(
        rt,
        name={{ name_source }},
        reference={{ reference_source }},
        tensors={{ tensors_source }},
        output_bindings={{ output_bindings_source }},
        policy=_policy({{ policy_source }}),
        inputs={
{% for input_name in input_names %}
            {{ input_name|tojson }}: {{ input_name }},
{% endfor %}
        },
    )
